body {
  background-color: rgba(133, 247, 211, 0.4);
}

.heading {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 200;
  padding: 2px;
  border: 2px solid;
  background-color: rgb(182, 247, 182);
}

.main {
  font-size: 76px;
}

.sub {
  font-size: 52px;
}

.links {
  text-decoration: none;
  font-size: x-large;
  font-family: "Courier New", Courier, monospace;
}

ul {
  list-style: circle;
}

#kitchen {
  border: 5px solid rgb(182, 247, 182);
  opacity: 85%;
}
